# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.traffic_light_simulation.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Steven\Desktop\kut spul\simulatie_traffic\traffic_light_simulation\.idea\.idea.traffic_light_simulation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
